# Virtual environment
venv/

# Python cache
__pycache__/
*.py[cod]

# Pytest cache
.pytest_cache/

# SQLite database
*.db

# Generated certificates
generated_certificates/

# Environment variables
.env

# VS Code settings
.vscode/